
<form class="form p-t-20">
    <div class="form-group">
        <label for="exampleInputuname2">User Name</label>
        <div class="input-group">
            <input type="text" class="form-control" id="exampleInputuname2" placeholder="Username">
            <div class="input-group-addon"><i class="ti-user"></i></div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Email address</label>
        <div class="input-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            <div class="input-group-addon"><i class="ti-email"></i></div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputpwd2">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Enter pwd">
            <div class="input-group-addon"><i class="ti-lock"></i></div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputpwd3">Confirm Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="exampleInputpwd3" placeholder="Enter pwd">
            <div class="input-group-addon"><i class="ti-lock"></i></div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-success">
            <input id="checkbox2" type="checkbox">
            <label for="checkbox2"> Remember me </label>
        </div>
    </div>
    <div class="text-left">
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
    </div>
</form>