<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dropzone</h4>
                <h6 class="card-subtitle">For multiple file upload put class <code>.dropzone</code> to form.</h6>
                <!-- <form action="#" class="dropzone"> -->
                   <%= render 'form', orphan: @orphan %>
                   
            </div>
        </div>
    </div>
</div>