<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
           
            <li><%= link_to "Orphan", new_orphan_path %></li>
           
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>